@{
    ViewData["Title"] = "Home Page";
}

@* <div class="jumbotron">
    <h1>University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to University</h2>
        <p>
            University text descr
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="www.google.com">Check! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download.</p>
        <p><a class="btn btn-default" href="href=" www.google.com" &raquo;</a></p>
    </div>
</div>
 *@
<head>
    <title>Веб-сайт университета</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <h1>Название университета</h1>
        <nav>
            <ul>
                <li><a href="#">Домой</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Программы</a></li>
                <li><a href="#">Исследования</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section id="intro">
            <h2>Добро пожаловать в Rusloid International University</h2>
            <p>Мы являемся ведущим высшим учебным заведением, предлагающим широкий спектр программ бакалавриата, магистратуры и докторантуры.</p>
            <a href="#" class="button">Узнать больше</a>
        </section>

        <section id="programs">
            <h2>Наши программы</h2>
            <ul>
                <li>Бакалавриат</li>
                <li>Магистратура</li>
                <li>Докторантура</li>
            </ul>
        </section>

        <section id="research">
            <h2>Наши исследования</h2>
            <p>Мы проводим передовые исследования в различных областях, включая:</p>
            <ul>
                <li>Наука</li>
                <li>Технологии</li>
                <li>Гуманитарные науки</li>
            </ul>
        </section>

        <section id="news">
            <h2>Последние новости</h2>
            <ul>
                <li>Название новости 1</li>
                <li>Название новости 2</li>
                <li>Название новости 3</li>
            </ul>
        </section>

    </main>

    <footer>
        <p>Все права защищены & copy; Rusloid International University</p>
    </footer>

</body>